*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    color: $color-black;
    background-color: $color-white;
    font: $font-size-base/$line-height-base $font-family-base;
}

.container {
    @mixin container;
}

.h1 {
    @mixin h1;
}

.h2 {
    @mixin h2;
}

.h3 {
    @mixin h3;
}

.h4 {
    @mixin h4;
}

.p {
    @mixin p;
}

.ul {
    @mixin ul;
}

.ol {
    @mixin ol;
}

.hr {
    @mixin hr;
}

.a {
    @mixin a;
}

.table {
    @mixin table;
}

.format {
    @mixin format;
}

.text {
    @mixin text;
}

.input {
    @mixin input;

    &.is-error {
        @mixin input--error;
    }
}

.select {
    @mixin select;

    &.is-error {
        @mixin select--error;
    }
}

.textarea {
    @mixin textarea;

    &.is-error {
        @mixin textarea--error;
    }
}

.button {
    @mixin button;
}
