/* Стандартные цвета */
$color-black: #000000;
$color-white: #ffffff;

/* Шрифты */
$font-family-arial: Arial, Tahoma, sans-serif;

/* Базовый шрифт */
$font-family-base: $font-family-arial;
$font-size-base: 14px;
$line-height-base: 1.2;
$color-base: $color-black;

/* Текстовый шрифт */
$font-family-text: $font-family-arial;
$font-size-text: 16px;
$line-height-text: 1.4;
$color-text: $color-black;

/* Брейкпоинты для адаптива */
$breakpoint-xl: 1600px;
$breakpoint-l: 1280px;
$breakpoint-m: 1024px;
$breakpoint-s: 768px;
$breakpoint-xs: 640px;
$breakpoint-xxs: 480px;

/* Отступы для контейнера */
$container-margin-xxl: 8%;
$container-margin-xl: 6%;
$container-margin-l: 4%;
$container-margin-m: 40px;
$container-margin-s: 20px;
$container-margin-xs: 20px;
$container-margin-xxs: 20px;

/* Вертикальные отступы для адаптива */
$margin-vertical-xxl: 40px;
$margin-vertical-xl: 40px;
$margin-vertical-l: 32px;
$margin-vertical-m: 32px;
$margin-vertical-s: 28px;
$margin-vertical-xs: 24px;
$margin-vertical-xxs: 20px;

/* Горизонтальные отступы для адаптива */
$margin-horizontal-xxl: 40px;
$margin-horizontal-xl: 40px;
$margin-horizontal-l: 32px;
$margin-horizontal-m: 32px;
$margin-horizontal-s: 24px;
$margin-horizontal-xs: 20px;
$margin-horizontal-xxs: 12px;
