.body {
    $footer-height: 80px;

    position: relative;
    padding-bottom: $footer-height;

    &__header {
        @mixin margin-bottom 0.8;
    }

    &__main {
        @mixin margin-bottom 0.8;
    }

    &__footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: $footer-height;
    }
}
