.form {
    &__field {
        @mixin margin-bottom 0.5;
    }

    &__label {
        @mixin margin-bottom 0.1;

        display: block;
    }

    &__field.is-required &__label::after {
        content: ' *';
    }

    &__input {
        input[type='text'],
        input[type='email'],
        input[type='tel'] {
            @mixin input;
        }

        select {
            @mixin select;
        }

        textarea {
            @mixin textarea;
        }
    }

    &__field.is-error &__input {
        input[type='text'],
        input[type='email'],
        input[type='tel'] {
            @mixin input--error;
        }

        select {
            @mixin select--error;
        }

        textarea {
            @mixin textarea--error;
        }
    }

    &__remark {
        @mixin margin-top 0.5;
    }

    &__submit {
        @mixin margin-top 0.5;
    }
}
