@define-mixin input {
    &:focus {}
}

@define-mixin input--error {

}

@define-mixin select {
    @mixin input;

    appearance: none;

    &::-ms-expand {
        display: none;
    }
}

@define-mixin select--error {
    @mixin input--error;
}

@define-mixin textarea {
    @mixin input;
}

@define-mixin textarea--error {
    @mixin input--error;
}

@define-mixin button {
    &:active {}

    &:hover {}
}
