@define-mixin container {
    margin-left: $container-margin-xxl;
    margin-right: $container-margin-xxl;

    @mixin responsive-xl {
        margin-left: $container-margin-xl;
        margin-right: $container-margin-xl;
    }

    @mixin responsive-l {
        margin-left: $container-margin-l;
        margin-right: $container-margin-l;
    }

    @mixin responsive-m {
        margin-left: $container-margin-m;
        margin-right: $container-margin-m;
    }

    @mixin responsive-s {
        margin-left: $container-margin-s;
        margin-right: $container-margin-s;
    }

    @mixin responsive-xs {
        margin-left: $container-margin-xs;
        margin-right: $container-margin-xs;
    }

    @mixin responsive-xxs {
        margin-left: $container-margin-xxs;
        margin-right: $container-margin-xxs;
    }
}
