@define-mixin responsive-xxl {
    @media (min-width: calculate($breakpoint-xl + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-xl {
    @media (min-width: calculate($breakpoint-l + 1px)) and (max-width: $breakpoint-xl) {
        @mixin-content;
    }
}

@define-mixin responsive-le-xl {
    @media (max-width: $breakpoint-xl) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-xl {
    @media (min-width: calculate($breakpoint-l + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-l {
    @media (min-width: calculate($breakpoint-m + 1px)) and (max-width: $breakpoint-l) {
        @mixin-content;
    }
}

@define-mixin responsive-le-l {
    @media (max-width: $breakpoint-l) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-l {
    @media (min-width: calculate($breakpoint-m + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-m {
    @media (min-width: calculate($breakpoint-s + 1px)) and (max-width: $breakpoint-m) {
        @mixin-content;
    }
}

@define-mixin responsive-le-m {
    @media (max-width: $breakpoint-m) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-m {
    @media (min-width: calculate($breakpoint-s + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-s {
    @media (min-width: calculate($breakpoint-xs + 1px)) and (max-width: $breakpoint-s) {
        @mixin-content;
    }
}

@define-mixin responsive-le-s {
    @media (max-width: $breakpoint-s) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-s {
    @media (min-width: calculate($breakpoint-xs + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-xs {
    @media (min-width: calculate($breakpoint-xxs + 1px)) and (max-width: $breakpoint-xs) {
        @mixin-content;
    }
}

@define-mixin responsive-le-xs {
    @media (max-width: $breakpoint-xs) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-xs {
    @media (min-width: calculate($breakpoint-xxs + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-xxs {
    @media (max-width: $breakpoint-xxs) {
        @mixin-content;
    }
}

@define-mixin responsive-prop $prop, $var, $coef: 1, $delta: 0px {
    $value: calculate($($(var)-xl) * $coef + $delta);
    $(prop): calculate(ceil($value));

    @mixin responsive-xl {
        $value: calculate($($(var)-xl) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-l {
        $value: calculate($($(var)-l) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-m {
        $value: calculate($($(var)-m) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-s {
        $value: calculate($($(var)-s) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-xs {
        $value: calculate($($(var)-xs) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-xxs {
        $value: calculate($($(var)-xxs) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }
}
