@define-mixin h1 {}

@define-mixin h2 {}

@define-mixin h3 {}

@define-mixin h4 {}

@define-mixin p {}

@define-mixin ul {}

@define-mixin ol {}

@define-mixin p {}

@define-mixin hr {}

@define-mixin a {
    &:hover {}
}

@define-mixin table {}

@define-mixin format {
    h1:not(.nostyle) {
        @mixin h1;
    }

    h2:not(.nostyle) {
        @mixin h2;
    }

    h3:not(.nostyle) {
        @mixin h3;
    }

    h4:not(.nostyle) {
        @mixin h4;
    }

    p:not(.nostyle) {
        @mixin p;
    }

    ul:not(.nostyle) {
        @mixin ul;
    }

    ol:not(.nostyle) {
        @mixin ol;
    }

    hr:not(.nostyle) {
        @mixin hr;
    }

    a:not(.nostyle) {
        @mixin a;
    }

    table:not(.nostyle) {
        @mixin table;
    }

    b:not(.nostyle),
    strong:not(.nostyle) {
        font-weight: bold;
    }

    i:not(.nostyle),
    em:not(.nostyle) {
        font-style: italic;
    }

    u:not(.nostyle),
    ins:not(.nostyle) {
        text-decoration: underline;
    }

    strike:not(.nostyle),
    del:not(.nostyle) {
        text-decoration: line-through;
    }
}

@define-mixin text {
    @mixin format;

    font: $font-size-text/$line-height-text $font-family-text;
    color: $color-text;
}
